@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap&family=Ubuntu+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  /* Photo by Jerry Zhang on Unsplash */
  background-image: url("./img/background.jpg");
  background-color: rgb(172, 207, 209);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

main h1 {
  color: white;
  cursor: default;
  font-family: "Ubuntu Condensed", sans-serif;
  font-size: 2.5rem;
  padding: 3rem 3rem;
}

.form-search {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.search-styling {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;

  background: rgba(255, 255, 255, 1);
  background-image: url("./img/localisation_icon.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 20px;

  border: none;
  border-radius: 25px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

  outline: none;
  height: 40px;
  width: 250px;
  padding: 0px 50px;
}

input::placeholder {
  color: rgb(194, 194, 194);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

input:focus::placeholder {
  color: transparent;
}

.error::placeholder {
  color: rgb(233, 10, 10);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.error:focus::placeholder {
  color: rgb(233, 10, 10);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

#temp-card {
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  justify-content: space-between;

  /* grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto); */

  border-radius: 15px;
  width: 30rem;
  height: auto;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 2rem;
}

.temp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temp-city {
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: capitalize;
}

.time-date {
  color: white;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  padding: 0.2rem 0;
}

.temp-num {
  color: white;
  font-size: 3rem;
  font-family: "Roboto Condensed", sans-serif;
}

.weather-icon {
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 768px) {
  .weather {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 2rem;
  }

  .weather-icon {
    width: 9rem;
    height: 9rem;
  }

  main h1 {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 320px) {
  .temp-city {
    font-size: 1.5rem;
  }

  .weather-icon {
    width: 7rem;
    height: 7rem;
  }
}
